*.pdf
*.html
registration_form.md
application_form.md
DonkeySimMac
src/mysim_raspi
src/opencv-python-headless-4.6.0.66
opencv-python-headless-4.6.0.66.tar.gz
0822_危険物.zip
0825_危険物.zip
readme.md
MFT2023/0822_危険物/shinseisho_0822.docx
MFT2023/doc/kikenbutsu/lu26509e9wy7.tmp
MFT2023/doc/kikenbutsu/shinseisho_0724.docx
MFT2023/doc/kikenbutsu/shinseisho_0822.docx
MFT2023/fabo/AI_Car.psd
MFT2023/fabo/AI_Jetracer.psd
balance_table.md
MFT2023/event_290595_participants.csv
MFT2023/event_290595_participants.md
MFT2023/event_sep25_リチウムイオン電池リスト.ods
MFT2023/event_リチウムイオン電池リスト - Sheet1.csv
2023-09-12-14-34-41.png
donkeycar_poster.psd
パネル１.txt
wsl_ubuntu_donkey_ui.mov
SkipCity2024/track_design
quotation.md
AI_RC_Car_MFT2023_ryousyusyo_001.xlsx
AI_members.jpg
2023-12-17-10-39-51.png
2023-12-16-11-50-39.png
2023-12-16-11-49-28.png
messages_memo.txt
SkipCity2024/docs_html/assets/javascripts
SkipCity2024/video
src/mycar-sc-01
src/mycar/data
src/mycar/data_0109
src/mycar/models
src/mycar_102
*.zip
AIでRCカーを走らせよう。運用マニュアル.pptx
long-battery-tray-for-wltoys-144001-144002-144010
src/mycar/data_bak
src/mycar_george
drive.log
backup/cmdline.txt
backup/config.txt
backup/firstrun.sh
genie_flog_video_360_rgb.mp4
AIでRCカーを走らせよう。Q&A.pptx
SkipCity2024/002/myconfig.py
SkipCity2024/117/myconfig.py
src/TatamiRacer-master/3d
src/TatamiRacer-master/doc
src/TatamiRacer-master/raspi
AIFestival2025/wpa_supplicant
src/mycar_KAIT
src/mycar_tatamiracer/data
src/mycar_tatamiracer/models
wpa_supplicant
AIFestival2025/doc/public
AIFestival2025/img/KAIT_QT.mp4
AIFestival2025/img/KAIT_QT_1.mov
AIFestival2025/img/KAIT_QT_small.mp4
AIFestival2025/img/tatamiracer-zero.mp4
AIFestival2025/img/tatamiracer-zero_small.mp4
AIFestival2025/old/20250423_AIフェス2025_2階平面図.psd
AIFestival2025/old/20250423_AIフェス2025_2階平面図_A.png
AIFestival2025/old/20250423_AIフェス2025_2階平面図_C.png
AIFestival2025/old/20250423_AIフェス2025_2階平面図_C.psd
AIFestival2025/tatamiracer/tatamiracer.mp4
MFT2023/donkeycar_LT_2023.md
MFT2023/img/2024-07-28-10-13-35.png
MFT2023/img/2024-07-28-10-32-41.png
MFT2023/img/2024-07-28-10-33-13.png
MFT2023/img/2024-07-28-10-33-42.png
MFT2023/img/AI_RC_CAR_half.png
MFT2023/img/AI_RC_CAR_logos.png
SkipCity2024/doc/content/environment/donkey_console.md
bookworm_fistrun/donkey-yolo/cmdline.txt
bookworm_fistrun/donkey-yolo/config.txt
bookworm_fistrun/donkey-yolo/firstrun.sh
src/DonkeyCopilot-main/LICENSE
src/DonkeyCopilot-main/img/DonkeyCopilot.jpg
src/DonkeyCopilot-main/img/DonkeyCopilot_demo.gif
src/DonkeyCopilot-main/p5.min.js
src/DonkeyCopilot-main/tub_movie_mft2022_1.mp4
src/TatamiRacer-master/LICENSE
src/TatamiRacer-master/Step 5. Assembling Rear Wheel Drive Unit.psd
src/TatamiRacer-master/fast_driver_sert.psd
src/TatamiRacer-master/img/2025-08-23-10-09-30.png
src/TatamiRacer-master/img/2025-08-23-10-14-02.png
src/TatamiRacer-master/parts_all.psd
src/TatamiRacer-master/parts_purchased.psd
src/TatamiRacer-master/parts_roller_stopper_spacer.psd
src/TatamiRacer-master/wiring.psd
src/mycar/myconfig_original.py
src/mycar_donkey_kwiksher/config.py
src/mycar_donkey_kwiksher/manage.py
src/mycar_donkey_kwiksher/y_myconfig.py
src/mycar_tatamiracer/config.py
src/mycar_tatamiracer/manage_tatami_bak.py
src/mycar_tatamiracer/myconfig.py
src/mycar_tatamiracer/tatamiracer_test.py
src/mycar_tatamiracer/tatamiracer_test_simple.py
participants.md
message_0925.md
